body {
  background-color: rgb(245, 245, 245);
  padding-top: 76px;
  padding-left: 118px;
  padding-right: 14px;
}

p {
  margin: 0;
}

/* responsiveness */

@media (max-width: 1200px) {
  body {
    padding-left: 118px;
  }
}

@media (min-width: 1201px) {
  body {
    padding-left: 160px;
  }
}